@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
.attribution {
    font-size: 0.7em;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    cursor: default;
}
.attribution a {
    color: hsl(118, 84%, 70%);
    text-decoration: none;
}
body {
    font-family: 'Space Mono', monospace;
    margin: 1.9em;
    font-size: 15px;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
h1 {
    text-align: center;
    width: 4.45em;
    height: 3em;
    margin: auto;
    overflow-wrap: break-word;
    letter-spacing: 0.5em;
    color: hsl(183, 100%, 15%);
    cursor: default;
    transition: transform 0.8s -0.1s;
}
h1:hover {
    transform: scale(1.1);
}
.back-border {
    border-radius: 1.8em;
    margin: 5em auto;
    width: 43.8em;
    height: 22.8em;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 250% 250%;
	animation: gradient 15s ease infinite;
}
.back {
    width: 40em;
    height: 19em;
    background-color: #fff;
    border-radius: 1.5em;
    position: relative;
    top: 0.4em;
    left: 0.4em;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 1.5em;
}
.left {
    width: 20em;
    background-color: #fff;
    border-radius: 1em;
    padding: 1em 2em 1em 1em;
}
.right {
    width: 20em;
    background-color: hsl(183, 100%, 15%);
    border-radius: 0.8em;
    padding: 2em;
    position: relative;
}
.text-bill, .text-tip, .text-people {
    margin: 0 0 0.4em;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    font-size: 0.8em;
    cursor: default;
}
.text-people {
    margin: 1em 0 0.4em;
}
.icon {
    position: relative;
    left: 0.8em;
    bottom: 2.05em;
    width: 0.6em;
    cursor: text;
}
input {
    text-align: right;
    background-color: hsl(189, 41%, 97%);
    font-weight: 700;
    font-size: 1em;
    width: 100%;
    height: 2.1em;
    border-radius: 0.5em;
    border: 0.2em solid transparent;
    font-family: 'Space Mono', monospace;
    margin: 0;
    margin-left: -0.2em;
    transition: border 0.5s;
}
input:invalid {
    border: 0.2em solid red;
}
input:focus{
    outline: none;
}
button, .custom {
    font-weight: 700;
    cursor: pointer;
    border: none;
    font-family: 'Space Mono', monospace;
    border-radius: 0.3em;
    font-size: 0.89em;
}
.leftBtnContainer {
    display: flex;
    flex-wrap: wrap;
    height: 6em;
    width: 16.5em;
    justify-content: space-between;
}
.leftBtn {
    background-color: hsl(183, 100%, 15%);
    color: #fff;
    font-size: 0.979em;
    width: 4.9em;
    height: 2.4em;
    transition: background-color 0.1s, color 0.1s;
}
button:hover {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}
button:active {
    background-color: hsl(174, 62%, 76%);
    color: hsl(183, 100%, 15%);
}
.custom {
    background-color: hsl(189, 41%, 97%);
    width: 4.12em;
    height: 1.76em;
    text-align: center;
    font-size: 1em;
    border: 0.2em solid #f2f8f8;
    cursor: text;
}
.t {
    color: #fff;
    margin: 0;
    cursor: default;
}
.pp {
    color: hsl(184, 14%, 56%);
    margin: 0 0 2em;
    cursor: default;
}
#tipAmount, #total {
    position: absolute;
    left: 7em;
    top: 0.15em;
    color: hsl(172, 67%, 45%);
    font-weight: 700;
    font-size: 1.7em;
    cursor: default;
}
#total {
    top: 3.1em;
}
.reset {
    color: hsl(183, 100%, 15%);
    background-color:hsl(172, 67%, 45%);
    width: 100%;
    bottom: -3em;
    position: relative;
    height: 3em;
    transition: transform 0.8s -0.1s, background-color 0.1s;
}
.reset:hover {
    transform: scale(1.1);
}
.reset:active {
    background-color: hsl(174, 62%, 76%);
    color: hsl(183, 100%, 15%);
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

@media screen and (max-width: 550px) {
    body {
        font-size: 10px;
    }
    .back {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 19em;
        height: 40em;
    }
    .back-border {
        width: 22.8em;
        height: 43.8em;
    }
    .left {
        padding: 1em;
    }
    .right {
        width: 15em;
    }
    .reset {
        bottom: 0;
    }
}